@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @if (!User.Identity.IsAuthenticated)
    {
        <h1>Log in to play more games then shown below. you could win big too!</h1>
    }
    @if (User.IsInRole("Admin"))
    {
        <h1>Actions:</h1>
        <p class="btn btn-default">@Html.ActionLink("Edit Games", "Index", "GamesDB")</p>
        <p class="btn btn-default">@Html.ActionLink("Edit Games Owned By Players", "Index", "PlayerGamesDB")</p>
        <p class="btn btn-default">@Html.ActionLink("Edit Items Owned By Players", "Index", "PlayerItemsDB")</p>
        <p class="btn btn-default">@Html.ActionLink("Edit Items In Store", "Index", "ShopItemsDB")</p>
    }
    else
    {
        <h1>Actions:</h1>
        <p class="btn btn-default">@Html.ActionLink("View Games You Own", "Index", "PlayerGamesDB")</p>
        <p class="btn btn-default">@Html.ActionLink("View Items You Own", "Index", "PlayerItemsDB")</p>
        <p class="btn btn-default">@Html.ActionLink("View Game Store", "Index", "GamesDB")</p>
        <p class="btn btn-default">@Html.ActionLink("View Item Store", "Index", "ShopItemsDB")</p>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Black Jack</h2>
        <p>blackjack, or twenty-one, Card game whose object is to be dealt cards having a higher count than those of the dealer, up to but not exceeding 21. The dealer may use a single deck of 52 cards and stops drawing after 17. Aces count as 1, and face cards as 10.</p>
        <p class="btn btn-default">@Html.ActionLink("Play Game", "BlackJackIndex", "Games")</p>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-4">
            <h2>More games to come!</h2>
            <p></p>
        </div>
    </div>
}