@model IEnumerable<gameSite.Models.PlayerItem>

@{
    ViewBag.Title = "Index";
}

<h2>All Items You Own</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Useremail)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Useremail == User.Identity.Name)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ItemName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Useremail)
    </td>
    <td>
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
        }
    }

</table>
