@model gameSite.Models.PlayerGame

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlayerGame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gameid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gameid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Userid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Userid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Useremail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Useremail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
