@model gameSite.Models.BlackJackViewModel
@{
    ViewBag.Title = "BlackJackIndex";
}
<div class="jumbotron">
    <h1>Round: @Model.Round</h1>
    <p class="lead">Current Player Count: @Model.PlayerCount |||  Player Card Drawn: @Model.PlayerCardDrawn</p>
    <p class="lead">Current Bet: @Model.PlayerBet</p>
    <p class="lead">Current House Count: @Model.HouseCount ||| House Card Drawn: @Model.HouseCardDrawn</p>
    @if (Model.GameEnd == true)
    {
        if (Model.DidPlayerWin == true)
        {
            <h1>You Win</h1>
        }
        else
        {
            <h1>You Lose</h1>
        }
    }
</div>
@*player actions*@

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("BlackJackIndex", "Games"))
        {
            //passing blackjack model
            for (int i = 0; i < Model.Cards.Count; i++)
            {
                @Html.HiddenFor(model => model.Cards[i]);
            }
            @Html.HiddenFor(model => model.DidPlayerBet);
            @Html.HiddenFor(model => model.DidPlayerDoubleDown);
            @Html.HiddenFor(model => model.DidPlayerStand);
            @Html.HiddenFor(model => model.DidPlayerWin);
            @Html.HiddenFor(model => model.GameEnd);
            @Html.HiddenFor(model => model.HouseCount);
            @Html.HiddenFor(model => model.PlayerBet);
            @Html.HiddenFor(model => model.PlayerCount);
            @Html.HiddenFor(model => model.Round);
            @Html.HiddenFor(model => model.HouseCardDrawn);
            @Html.HiddenFor(model => model.PlayerCardDrawn);
            @Html.ActionLink("Draw", "BlackJackDraw")
        }
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("BlackJackIndex", "Games"))
        {
            //passing blackjack model
            for (int i = 0; i < Model.Cards.Count; i++)
            {
                @Html.HiddenFor(model => model.Cards[i]);
            }
            @Html.HiddenFor(model => model.DidPlayerBet);
            @Html.HiddenFor(model => model.DidPlayerDoubleDown);
            @Html.HiddenFor(model => model.DidPlayerStand);
            @Html.HiddenFor(model => model.DidPlayerWin);
            @Html.HiddenFor(model => model.GameEnd);
            @Html.HiddenFor(model => model.HouseCount);
            @Html.HiddenFor(model => model.PlayerBet);
            @Html.HiddenFor(model => model.PlayerCount);
            @Html.HiddenFor(model => model.Round);
            @Html.HiddenFor(model => model.HouseCardDrawn);
            @Html.HiddenFor(model => model.PlayerCardDrawn);
            @Html.ActionLink("Stand", "BlackJackStand")
        }
    </div>
</div>
@*betting options*@
<div class="row">
    <div class="col-md-4">
        @if (Model.DidPlayerBet == false)
        {
            using (Html.BeginForm("BlackJackIndex", "Games"))
            {
                //passing blackjack model
                for (int i = 0; i < Model.Cards.Count; i++)
                {
                    @Html.HiddenFor(model => model.Cards[i]);
                }
                @Html.HiddenFor(model => model.DidPlayerBet);
                @Html.HiddenFor(model => model.DidPlayerDoubleDown);
                @Html.HiddenFor(model => model.DidPlayerStand);
                @Html.HiddenFor(model => model.DidPlayerWin);
                @Html.HiddenFor(model => model.GameEnd);
                @Html.HiddenFor(model => model.HouseCount);
                @Html.HiddenFor(model => model.PlayerBet);
                @Html.HiddenFor(model => model.PlayerCount);
                @Html.HiddenFor(model => model.Round);
                @Html.HiddenFor(model => model.HouseCardDrawn);
                @Html.HiddenFor(model => model.PlayerCardDrawn);
                @Html.ActionLink("Bet", "BlackJackBet")
            }
        }
        @if (Model.DidPlayerDoubleDown == false)
        {
            using (Html.BeginForm("BlackJackIndex", "Games"))
            {
                //passing blackjack model
                for (int i = 0; i < Model.Cards.Count; i++)
                {
                    @Html.HiddenFor(model => model.Cards[i]);
                }
                @Html.HiddenFor(model => model.DidPlayerBet);
                @Html.HiddenFor(model => model.DidPlayerDoubleDown);
                @Html.HiddenFor(model => model.DidPlayerStand);
                @Html.HiddenFor(model => model.DidPlayerWin);
                @Html.HiddenFor(model => model.GameEnd);
                @Html.HiddenFor(model => model.HouseCount);
                @Html.HiddenFor(model => model.PlayerBet);
                @Html.HiddenFor(model => model.PlayerCount);
                @Html.HiddenFor(model => model.Round);
                @Html.HiddenFor(model => model.HouseCardDrawn);
                @Html.HiddenFor(model => model.PlayerCardDrawn);
                @Html.ActionLink("Double Down", "BlackJackDoubleDown")
            }
        }
    </div>
</div>
