@model gameSite.Models.WheelOfFortuneViewModel

@{
    ViewBag.Title = "Wheel Of Fortune";
}
<div class="jumbotron">
    <h1>Round: @Model.Round</h1>
    <p class="lead">Current Player Count: @Model.PlayerCount |||  Player Card Drawn: @Model.PlayerCardDrawn</p>
    <p class="lead">Current Bet: @Model.PlayerBet</p>
    <p class="lead">Current House Count: @Model.HouseCount ||| House Card Drawn: @Model.HouseCardDrawn</p>
    @if (Model.GameEnd == true)
    {
        if (Model.DidPlayerWin == true)
        {
            <h1>You Win</h1>
            <a href="@Url.Action("WheelOfFortuneIndex", "Games", null)">
                <span class="btn btn-primary">Play Again</span>
            </a>
        }
        else if (Model.DidPlayerWin == false)
        {
            <h1>You Lose</h1>
            <a href="@Url.Action("WheelOfFortuneIndex", "Games", null)">
                <span class="btn btn-primary">Play Again</span>
            </a>
        }
        else
        {
            <h1>It was a draw</h1>
            <a href="@Url.Action("WheelOfFortuneIndex", "Games", null)">
                <span class="btn btn-primary">Play Again</span>
            </a>
        }
    }
</div>
@*player actions*@
@if (Model.GameEnd == false)
{
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("BlackJackDraw", "Games"))
            {
                <input type="submit" value="Draw" class="btn btn-primary"/>
            }
        </div>
    </div>
    @*betting options*@
    if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-4">
                @if (Model.PlayerBet == 0)
                {
                    using (Html.BeginForm("BlackJackBet", "Games"))
                    {
                        <input type="text" name="Amount" />
                        <input type="submit" value="Bet" class="btn btn-primary"/>
                    }
                }
                @if (Model.DidPlayerDoubleDown == false)
                {
                    using (Html.BeginForm("BlackJackDoubleDown", "Games"))
                    {
                        <input type="submit" value="Double Down" class="btn btn-primary"/>
                            <p>@ViewBag.error</p>
                    }
                }
            </div>
        </div>
    }
}

